<h1>{{categoria.nome}}</h1>
<hr>
{{#each postagens}}
    <div class="card mt-3">
        <div class="card-body">
            <a href="/postagem/{{slug}}"><h3>{{titulo}}</h3></a>
            <p>{{descricao}}</p>
            <hr>
            <small>Categoria: {{categoria.nome}}</small>
            <br>
            <small>Data: {{data}}</small>
        </div>
    </div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}